html
    head
        title!= title

        script(
        src='/assets/player-form.js'
        )


    body

        a(href="/admin") lista round

        h1 Create player

        form(
        action="#"
        name="create-player"
        onsubmit="return formSubmit(event)"
        )
            div
                label Nickname
                input(
                type='text'
                name='name'
                )


            div
                label Nome Noioso
                input(
                type='text'
                name='fullname'
                )


            div
                button  Create Player