html
    head
        title!= title

        script(
        src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js'
        )

        script(
        src='/assets/round-form.js'
        )

        link(
        rel='stylesheet'
        href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css"
        )

        link(
        rel='stylesheet'
        href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'
        )
        link(
        rel='stylesheet'
        href='/assets/style.css'
        )

    body

        a(href="/admin") lista round

        h1 Create round

        form(
        action="#"
        name="create-form"
        onsubmit="return formSubmit(event)"
        autocomplete="off"
        )

            div.row
                div.col-sm-6
                    div.form-group
                        label Name
                        input.form-control(
                        type='text'
                        name='name'
                        )
                div.col-sm-6
                    div.form-group
                        label Layout url
                        input.form-control(
                        type="text"
                        name="layout_url"
                        )
            div.row
                div.col-sm-12

                    div.form-group
                        label players

                        - var n = 0
                        while n < 10
                            select(
                            name="players[" + n++ + "]"
                            )
                                option(value='')
                                each player in players
                                    option(
                                    value=player._id
                                    )!= player.name

                div.col-sm-6
                    div.row
                        div.col-sm-4
                            div.form-group
                                label
                                    b ROUND START
                                input.form-control#start(name="start")
                        div.col-sm-4
                            div.form-group
                                label hour
                                input.form-control#start_hour(name="start_hour")
                        div.col-sm-4
                            div.form-group
                                label minute
                                input.form-control#start_minute(name="start_minute")
                div.col-sm-6
                    div.row
                        div.col-sm-4
                            div.form-group
                                label
                                    b ROUND END
                                input.form-control#end(name="end")
                        div.col-sm-4
                            div.form-group
                                label hour
                                input.form-control#end_hour(name="end_hour")
                        div.col-sm-4
                            div.form-group
                                label minute
                                input.form-control#end_minute(name="end_minute")
                div.col-sm-6
                    div.row
                        div.col-sm-4
                            div.form-group
                                label
                                    b VOTE START
                                input.form-control#vote_start(name="vote_start")
                        div.col-sm-4
                            div.form-group
                                label hour
                                input.form-control#vote_start_hour(name="vote_start_hour")
                        div.col-sm-4
                            div.form-group
                                label minute
                                input.form-control#vote_start_minute(name="vote_start_minute")
                div.col-sm-6
                    div.row
                        div.col-sm-4
                            div.form-group
                                label
                                    b VOTE END
                                input.form-control#vote_end(name="vote_end")
                        div.col-sm-4
                            div.form-group
                                label hour
                                input.form-control#vote_end_hour(name="vote_end_hour")
                        div.col-sm-4
                            div.form-group
                                label minute
                                input.form-control#vote_end_minute(name="vote_end_minute")
                div.col-sm-6
                    div.form-group
                        input.checkbox#last(type='checkbox'
                        name="last")
                        label last


                div.col-sm-12
                    div.form-group
                        label instructions_url
                        input#instructions_url.form-control(name="instructions_url")

                    div
                        button  Create Round